api-documentation/soap/userProfile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://provaLogin.palex.it/web/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://provaLogin.palex.com/web/soap" targetNamespace="http://provaLogin.palex.com/web/soap">
  <wsdl:types>
    <xs:schema xmlns:tns="http://provaLogin.palex.it/web/soap" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://provaLogin.palex.it/web/soap">

    <xs:element name="getProfileRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="profile" type="tns:profile"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="profile">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="registrationDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProfileResponse">
    <wsdl:part element="sch:getProfileResponse" name="getProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfileRequest">
    <wsdl:part element="sch:getProfileRequest" name="getProfileRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetUserProfilePort">
    <wsdl:operation name="getProfile">
      <wsdl:input message="tns:getProfileRequest" name="getProfileRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProfileResponse" name="getProfileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetUserProfilePortSoap11" type="tns:GetUserProfilePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProfile">
      <soap:operation soapAction=""/>
      <wsdl:input name="getProfileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUserProfilePortService">
    <wsdl:port binding="tns:GetUserProfilePortSoap11" name="GetUserProfilePortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>